# Objectives

After completing this lab you will be able to:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* Logical Operators
* if, elif, else Statements
____

# Data types

In [1]:
# integer
number=10

# float
number2=10.5
number3=0.5

# string
strVar='Hossam'

# boolean
passing=False
flag2=True

# Empty value or null data type
none_var=None   # null

# Complex number
complex_num = 2 + 3j

In [2]:
name="Hossam"
age=26
flag=False
number=5.5
complex_num = 2 + 3j


print(type(age))
print(type(name))
print(type(flag))
print(type(number))
print(type(complex_num))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>
<class 'complex'>

### Exercise 
Create variable for each name, age, live and GPA

In [3]:
name = 'omar'
age = 21
live = "Minya Elqamh"
gpa = 3.0

print(type(name))
print(type(age))
print(type(live))
print(type(gpa))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'float'>

<details><summary>Click here for the solution</summary>

```python
# String variable for name
name = "Hossam"

# Integer variable for age
age = 25

# Float variable for GPA
GPA = 3.75

# String variable for Live
live = "Tanta"
```
</details>

```

### Operations

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [4]:
2 ** 4

16

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [7]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [8]:
# Can not start with number or special characters
name_of_var = 2

In [5]:
x = 2
y = 3

In [7]:
z = x + y

In [9]:
z

5

In [11]:
print(z)

5

### Exercise
Create Equation y= (2x+3) + (9 - 5*x) - (x/3)     give x = 10 , 0 , -10

In [13]:
# if x = 10
x = 10
y= (2 * x + 3) + (9 - 5 * x) - (x / 3)
print(y)

# if x = 0
x = 0
y= (2 * x + 3) + (9 - 5 * x) - (x / 3)
print(y)

# if x = -10
x = -10
y= (2 * x + 3) + (9 - 5 * x) - (x / 3)
print(y)

-21.333333333333332
12.0
45.333333333333336

<details><summary>Click here for the solution</summary>

```python
# Calculate y for x = 10
x = 10
y1 = (2 * x + 3) + (9 - 5 * x) - (x / 3)
print(y1)

# Calculate y for x = 0
x = 0
y2 = (2 * x + 3) + (9 - 5 * x) - (x / 3)
print(y2)

# Calculate y for x = -10
x = -10
y3 = (2 * x + 3) + (9 - 5 * x) - (x / 3)
print(y3)

```

### Strings

In [19]:
'single quotes'

'single quotes'

In [23]:
"double quotes"

'double quotes'

In [1]:
"""cnc


nz,xc"""

'cnc\n\n\nnz,xc'

In [14]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Exercise
Create Variable with multi line 

 My name is Hossam.
 
 Age 2.
  
 Live in Tanta

In [33]:
name = 'Omar'
age = 21
live = "Minya Elqamh"

print("My name is: " + name)
print("Age:" , age)
print("Live in: " + live)

My name is: Omar
Age: 21
Live in: Minya Elqamh

<details><summary>Click here for the solution</summary>

```python

data = """
 My name is Hossam.
 Age 25 
 Live in Tanta
"""
print(data)

```
</details>

```

### Printing

In [8]:
x = 'hello'

In [9]:
x

'hello'

In [10]:
print(x)

hello

In [13]:
num = 25
name = 'Hossam'

In [14]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 25, and my name is: Hossam

In [15]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 25, and my name is: Hossam

In [17]:
print(f'My number is: {num}, and my name is: {name}')

My number is: 25, and my name is: Hossam

### Exercise
Create Three Variable 

Name 

Age

Live

Factory

then Print for each Way

In [44]:
name = 'Omar'
age = 21

print("My name is {one}, and I'm {two} years old".format(one = name, two = age))
print("My name is {}, and I'm {} years old".format(name,age))
print(f"My name is {name}, and I'm {age} years old")

My name is Omar, and I'm 21 years old
My name is Omar, and I'm 21 years old
My name is Omar, and I'm 21 years old

<details><summary>Click here for the solution</summary>

```python

Name = "Hossam"
Age = 25 
Live =  "Tanta"
Factory = "BFCAI"
print(' My name is {one} \n my age is {two} \n live in {three} \n my Factory {four}'.format(one=Name,two=Age,three=Live,four=Factory))
print(' My name is {} \n my age is {} \n live in {} \n my Factory {}'.format(Name,Age,Live,Factory))
print(f' My name is {Name} \n my age is {Age} \n live in {Live} \n my Factory {Factory}')
```
</details>

```

### input

In [46]:
a=input('Enter number: ')
print(a)
print(type(a))

Enter number:  5

5
<class 'str'>

In [18]:
a=int(input('Enter number: '))
print(a)
print(type(a))

Enter number:  5

5
<class 'int'>

In [39]:
a = '7.2'
a

'7.2'

In [52]:
a = '5'
a = int(a)
print(type(a))

<class 'str'>

In [43]:
a = '5.6'
float(a)

5.6

In [44]:
a = 10
str(a)

'10'

In [1]:
int(float('5.5'))

5

### Exercise
Take Value from user and convert it to integer and floating and string

In [56]:
num = input("Enter your number: ")
num = int(num)
print(type(num))
print(num)

num = float(num)
print(type(num))
print(num)

num = str(num)
print(type(num))
print(num)

Enter your number:  1

<class 'int'>
1
<class 'float'>
1.0
<class 'str'>
1.0

<details><summary>Click here for the solution</summary>

```python

V = input("Enter number")
print(type(V))
print(int(V))
print(float(V))
print(str(V))
```
</details>

```

### Lists

In [216]:
[1,2,3]

[1, 2, 3]

In [217]:
l=[]  # l = list()

In [218]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [231]:
my_list = ['a','b','c']

In [49]:
my_list

['a', 'b', 'c']

In [50]:
my_list[0]

'a'

In [51]:
my_list[1]

'b'

In [53]:
my_list[1:]

['b', 'c']

In [22]:
my_list[:1]

['a']

In [54]:
my_list[0] = 'NEW'

In [55]:
my_list

['NEW', 'b', 'c']

In [25]:
nest = [1,2,3,[4,5,['target']]]

In [26]:
nest[3]

[4, 5, ['target']]

In [27]:
nest[3][2]

['target']

In [28]:
nest[3][2][0]

'target'

In [273]:
l1= [1,2,3]
l2=[7,8,9]
l3 = l1 + l2
l3

[1, 2, 3, 7, 8, 9]

In [274]:
len(l3)

6

In [232]:
my_list = ['a','b','c']

In [233]:
my_list.append('d')

In [234]:
my_list

['a', 'b', 'c', 'd']

In [235]:
my_list.insert(2,50)

In [236]:
my_list

['a', 'b', 50, 'c', 'd']

In [223]:
my_list.extend([6,7,8])
my_list

['a', 'b', 50, 'c', 'd', 6, 7, 8]

In [237]:
my_list

['a', 'b', 50, 'c', 'd']

In [225]:
my_list.pop(0)

'a'

In [226]:
my_list

['b', 50, 'c', 'd', 6, 7, 8]

In [227]:
my_list.pop(-1)

8

In [228]:
my_list.remove(50)

In [229]:
my_list

['b', 'c', 'd', 6, 7]

In [230]:
my_list.index('b')

0

In [33]:
lst=[1,2,3,4,4,90,1,4]
print(lst.count(4))

3

In [57]:
lst=[3,10,0,-20]
# sort list
lst.sort()
print(lst)

[-20, 0, 3, 10]

In [32]:
my_list = [1, 2, 3, 4, 5]
# Reverse Using Slicing
reversed_lst=my_list[::-1]
print(reversed_lst)

[1, 2, 3, 4, 5]

In [58]:
# Reversing the list in place
my_list.reverse()
print(my_list)

[5, 4, 3, 2, 1]

### Exercise

create empty list and add integer number and string and list of number and pop first and last element

My list befpre update:  [5, 'Omar', [1, 2, 3]]

5

['Omar', [1, 2, 3]]

[1, 2, 3]

['Omar']

<details><summary>Click here for the solution</summary>

```python

# Create an empty list
my_list = []

# Add an integer number
my_list.append(25)

# Add a string
my_list.append("Hello")

# Add a list of numbers
my_list.append([1, 2, 3])

# Print the list before popping
print("List before popping:", my_list)

# Pop the first element (index 0)
first_element = my_list.pop(0)
print("Popped first element:", first_element)

# Pop the last element
last_element = my_list.pop(-1)
print("Popped last element:", last_element)

# Print the list after popping
print("List after popping:", my_list)

```
</details>

```

### Dictionaries

In [72]:
# dict({key:value})
z =dict({4:123} )
z

{4: 123}

In [74]:
{4:123}

{4: 123}

In [76]:
z[4]

123

In [78]:
d = {'key1':'item1','key2':'item2'}

In [80]:
d

{'key1': 'item1', 'key2': 'item2'}

In [82]:
d['key1']

'item1'

In [84]:
d.keys()

dict_keys(['key1', 'key2'])

In [86]:
d.values()

dict_values(['item1', 'item2'])

In [88]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [90]:
d['key3']='items3'

In [92]:
d

{'key1': 'item1', 'key2': 'item2', 'key3': 'items3'}

In [94]:
d.pop("key1")

'item1'

In [96]:
d

{'key2': 'item2', 'key3': 'items3'}

In [98]:
d.popitem()

('key3', 'items3')

In [100]:
d

{'key2': 'item2'}

In [102]:
d.update({'key21':'vallue2','key7':'value7'})

In [104]:
d

{'key2': 'item2', 'key21': 'vallue2', 'key7': 'value7'}

In [106]:
d['key4']

KeyError: 'key4'

In [110]:
d.get('key3')

### Exercise

Create a dictionary with at least four key-value pairs.

update Value in dictionary 

Remove an item using the pop() method.

Remove the last item using the popitem() method.

Original dictionary: {'name': 'Hossam', 'age': 25, 'GPA': 3.75, 'location': 'Tanta', 'major': 'Artificial Intelligence'}
Dictionary after updating 'GPA': {'name': 'Hossam', 'age': 25, 'GPA': 3.9, 'location': 'Tanta', 'major': 'Artificial Intelligence'}
Removed 'GPA': 3.9
Dictionary after removing 'GPA': {'name': 'Hossam', 'age': 25, 'location': 'Tanta', 'major': 'Artificial Intelligence'}
Removed last item: ('major', 'Artificial Intelligence')
Dictionary after removing the last item: {'name': 'Hossam', 'age': 25, 'location': 'Tanta'}

<details><summary>Click here for the solution</summary>

```python

# 1. Create a dictionary with at least four key-value pairs
student = {
    "name": "Hossam",
    "age": 25,
    "GPA": 3.75,
    "location": "Tanta"
}

student['major'] = "Artificial Intelligence" 
# student.update({'major':"Artificial Intelligence"})
print("Original dictionary:", student)

# 2. Update the value of an existing key
student["GPA"] = 3.9  # student.update({'GPA':10})

print("Dictionary after updating 'GPA':", student)

# 3. Remove an item using the `pop()` method
removed_item = student.pop("GPA")
print("Removed 'GPA':", removed_item)  
print("Dictionary after removing 'GPA':", student)

# 4. Remove the last item using the `popitem()` method
last_item = student.popitem()
print("Removed last item:", last_item)
print("Dictionary after removing the last item:", student)


```
</details>

```

### Tuples

In [210]:
t = tuple([1,2,3,4,5])

In [211]:
t

(1, 2, 3, 4, 5)

In [212]:
type(t)

tuple

In [213]:
t = (1,2,3)

In [214]:
t,type(t)

((1, 2, 3), tuple)

In [129]:
t[0]

1

In [130]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [131]:
t.count(5)

0

In [132]:
t.index(1)

0

In [75]:
t1=(1,2,3)
t2=(3,4,5)

t1+t2

(1, 2, 3, 3, 4, 5)

### Exercise

Creat a tulpe and append an item

(1, 2, 3, 0) <class 'tuple'>

<details><summary>Click here for the solution</summary>

```python

t = tuple([1,2,3])
t = list(t)
t.append(0)
t = tuple(t)
print(t,type(t))

```
</details>

```

Create a tuple named student_info that contains the following information: a student's name (as a string), their age (as an integer), and their GPA (as a float).

Create another tuple more_info that contains the student's major (as a string) and their graduation year (as an integer). Concatenate student_info and more_info into a new tuple named full_info.

add two tuple then count number of age

21
Hossam
21
3.9
('Hossam', 21, 3.9, 'Artificial Intelligence', 2024)
1

<details><summary>Click here for the solution</summary>

```python

student_info = ("Hossam", 21, 3.9)
print(student_info[1])  # Output: 21

name, age, gpa = student_info
print(name)  # Output: Hossam
print(age)   # Output: 21
print(gpa)   # Output: 3.9

more_info = ("Artificial Intelligence", 2024)
full_info = student_info + more_info
print(full_info)  # Output: ('Hossam', 21, 3.9, 'Artificial Intelligence', 2024)

print(full_info.count(21))  # Output: 1

# Attempting to modify the tuple
# student_info[0] = "Bob"  # This will raise a TypeError
```
</details>

```

### Sets

In [112]:
s=set([1,2,3])

In [114]:
s,type(s)

({1, 2, 3}, set)

In [116]:
s = {1,2,3}

In [118]:
s

{1, 2, 3}

In [120]:
s.add(5)

In [122]:
s

{1, 2, 3, 5}

In [124]:
s.pop()

1

In [126]:
l = [1,3,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2]
type(l)

list

In [128]:
s=set(l)

In [7]:
s

{1, 2, 3}

### Exercise

Create a set named fruits that contains the following items: "apple", "banana", "cherry".

Add "orange" to the fruits set. Print the set to confirm the addition.

Remove element

{'cherry', 'banana', 'apple'}
{'cherry', 'orange', 'banana', 'apple'}
cherry
{'orange', 'banana', 'apple'}

<details><summary>Click here for the solution</summary>

```python

fruits = {"apple", "banana", "cherry"}
print(fruits)  # Output: {'apple', 'banana', 'cherry'}

fruits.add("orange")
print(fruits)  # Output: {'apple', 'banana', 'cherry', 'orange'}

popped_element = fruits.pop()
print(popped_element)  # Output: (an arbitrary element from the set)
print(fruits)  # Output: (set after removal of the popped element)

```
</details>

```

## Comparison Operators

In [50]:
1 > 2

False

In [51]:
1 < 2

True

In [52]:
1 >= 1

True

In [53]:
1 <= 4

True

In [54]:
1 == 1

True

In [55]:
'hi' == 'bye'

False

## Logic Operators

In [56]:
(1 > 2) and (2 < 3)

False

In [57]:
(1 > 2) or (2 < 3)

True

In [58]:
(1 == 2) or (2 == 3) or (4 == 4)

True

In [12]:
 1 != 2

True

## if,elif, else Statements

In [9]:
if 1 < 2:
    print('Yep!')

Yep!

In [103]:
if 1 > 2:
    print('yep!')

In [61]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [62]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [63]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

In [79]:
if 3 in [1,2,3,4,5]:
    print('Yes')
else :
    print('NO')

Yes

In [80]:
if 3 not in [1,2,3,4,5]:
    print('Yes')
else :
    print('NO')

NO

In [10]:
#Examples
grade=70

if grade>=70:
    print("pass")
else:
    print('fail')

if 90<=grade<=100:
    print('A')
elif grade<90 and grade>=80:
    print("B")
elif  70<=grade<80:
    print("C")
elif 0<=grade<70:
    print("Fail")
else:
    print("Invalid grade")

pass
C

### Exercise

Takes a number input from the user, checks if the number is even or odd, and performs additional checks based on that:

<details><summary>Click here for the solution</summary>

```python

# Take input from the user
number = int(input("Enter a number: "))

# Check if the number is even or odd
if number % 2 == 0:
    # If the number is even, check if it's greater than 10 or less
    if number > 10:
        print(f"The number {number} is even and greater than 10.")
    else:
        print(f"The number {number} is even and less than or equal to 10.")
else:
    # If the number is odd, print its value
    print(f"The number {number} is odd.")

```
</details>

```

# Great Job!